<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            <p>{{user.user_id}} on {{created_at}}</p>
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>